.alertColor {
	background-color: #ff4314;
}

.withinBudget {
	background-color: #07dfbe;
}

img {
	height: 15vh;
	width: auto;
	margin: auto;
	display: block;
}
.item-content {
	background-color:transparent;
  }
  .item-background-color{
    --ion-item-background:#015f01d5;
}

ion-item{
	--ion-background-color:transparent;
 }